html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 1280px;
  font-family: "Bai Jamjuree", sans-serif;
  /* font-family: 'Arial', Verdana, sans-serif; */
  background-color: #f2f1ef;
}

ul {
  list-style-type: none;
}

.flex {
  display: flex;
}

.container {
  
  padding: 0 15px;
  margin: 0 auto;
  width: 1200px;
}

.header {
  background-color: #f2f1ef;
  margin-top: 30px;
  margin-bottom: 30px;
}
.header-container {
  justify-content: space-around;
  align-items: center;
  /* gap: 200px; */
}
/* .container {
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  justify-content: space-around;
  align-items: center;
  gap: 200px;
} */

.logo-link {
  align-items: center;
  gap: 10px;
}

.logo {
  height: 30px;
  width: 30px;
  object-fit: cover;
}

.menu-list {
  margin: 0;
  padding: 0;
  gap: 80px;
}

.menu-item-link {
  color: #161513;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  border-bottom: 1px solid #131416;
  transition: border-color 0.5s;
}

.menu-item-link:hover {
  border-bottom: 1px solid;
  border-color: #e94d35;
  color: #e94d35;
}

.menu-link-talk {
  padding: 8px 25px 8px 25px;
  color: #161513;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border: 1px solid #161513;
  transition: border-color 0.5s;
}

.menu-link-talk:hover {
  color: #e94d35;
  border-color: #e94d35;
}

/* .main {
  min-width: 1280px;
} */

/*! SLIDER HEADER */
.container {
  justify-content: center;
  align-items: center;
}

.main-card-left {
  flex-direction: column;
  align-items: flex-start;
}

.main-title {
  margin: 0;
  margin-bottom: 35px;
  color: #161513;
  font-size: 44px;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
  letter-spacing: 0.56px;
}

.main-descr {
  flex-direction: column;
  align-items: flex-start;
}

.main-descr-title {
  margin: 0;
  color: #161513;
  font-size: 23px;
  font-weight: 400;
  line-height: 32px; /* 139.13% */
  letter-spacing: 0.48px;
  margin-bottom: 40px;
}

.main-descr-img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.main-descr-btn-left {
  margin: 0;
  padding: 12px 32px 12px 32px;
  color: #161513;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border: 1px solid #161513;
  background-color: #fff;
  margin-right: 20px;
}
.main-descr-btn-left:hover {
  color: #fff;
  background-color: #161513;
}

.main-descr-btn-right {
  margin: 0;
  padding: 12px 32px 12px 32px;
  color: #161513;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border: 1px solid #161513;
  background-color: #fff;
  margin-right: 20px;
}

.main-descr-btn-right:hover {
  color: #fff;
  background-color: #161513;
}

.maint-portrait-image {
  width: 430px; /*TODO: 307px original */
  height: 330px;
  object-fit: cover;
  background-repeat: no-repeat;
  margin-bottom: 100px;
}

.main-text-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

/*! BEG STROKA */
/* .main-card-beg-title {
  margin: 0 auto;
} */

.beg-title-list {
  margin: 0;
  height: 44px;
  min-width: 1080px;
  justify-content: center;
  align-items: center;
  background-color: #161513;
}

.beg-item-descr {
  margin: 0;
  padding: 0 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
}

.beg-item-descr:hover {
  color: #e94d35;
}


/*! ABOUT-US */
.about-us {
  padding-top: 100px;
  justify-content: center;
}

.about-us-left-card {
  max-width: 408px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 21.5px;

}
.about-us-left-card-descr {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px; /* 139.13% */
  letter-spacing: 0.48px;
  color: #161513;
}
.about-us-left-card-title {
  margin: 0;
  color: #161513;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
  letter-spacing: 0.56px;
}

.about-us-right-card {
  max-width: 612px;
  flex-direction: column;
  align-items: flex-start;
}

.about-us-right-card-title {
  margin: 0;
  margin-bottom: 36px;
  color: #161513;
  font-size: 31px;
  font-weight: 400;
  line-height: 40px; /* 129.032% */
  letter-spacing: 0.64px;
}

.about-us-right-card-descr {
  margin: 0;
  margin-bottom: 20px;
  color: #161513;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
}

.about-us-right-list {
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 100px;
}

.list-item-text {
  margin: 0;
  color: #e94d35;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}

.list-item-descr {
  margin: 0;
  color: #161513;
  font-size: 23px;
  font-weight: 400;
  line-height: 32px; /* 139.13% */
  letter-spacing: 0.48px;
}

/*! Awards */

.awards {
  padding-top: 100px;
  padding-bottom: 140px;
  justify-content: center;
}

.adwards-skills-link {
  margin: 0;
  flex-direction: column;
  align-items: center;
  border: 1px solid #161513;
  min-width: 352px;
  padding: 21.5px 72px 23.5px 72px;
}

.adwards-skills-link-item {
  margin: 0;
  padding: 0;
  color: #161513;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
}

.adwards-skills-link-item-descr {
  color: #161513;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px; /* 200% */
  letter-spacing: 1.28px;
  text-transform: uppercase;
}

.skills-link-black {
  color: #fff;
  background-color: #161513;
}


/*! SERVICEC */

.services {
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.services-title {
  margin: 0;
  padding: 0;
  color: #161513;
  font-size: 45px;
  font-weight: 400;
  line-height: 56px; /* 124.444% */
  letter-spacing: 1.44px;
  margin-bottom: 18px;
  }

.services-descr {
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
  color: #161513;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  letter-spacing: 1.44px;
  text-transform: uppercase;
}

.service-list {
  margin: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.service-list-item {
  width: 510px;
  margin-bottom: 40px;
  border: 2px solid #161513;
}

.service-list-item:not(:nth-child(2n)) {
  margin-right: 40px;
}

.service-list-title-title{
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
  color: #161513;
  font-size: 31px;
  font-weight: 400;
  line-height: 40px; /* 129.032% */
  letter-spacing: 0.64px;
}

.service-list-item-desc {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  min-width: 472px;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
}

/*! PORTFOLIO */

.portfolio {
  flex-direction: column;
  align-items: center;
}

.portfolio-title {
  margin: 0;
  margin-bottom: 18px;
  color: #161513;
  font-size: 45px;
  font-weight: 400;
  line-height: 56px; /* 124.444% */
  letter-spacing: 1.44px;
  margin-bottom: 18px;
}

.portfolio-descr {
  margin: 0;
  margin-bottom: 18px;
  color: #161513;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  letter-spacing: 1.44px;
  text-transform: uppercase;
}

.portfolio-list {
  margin: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-list-item {
  margin-bottom: 40px;
  width: 1060px;
}

.portfolio-img {
  box-shadow: 15px 15px 21px 7px rgba(34, 60, 80, 0.69);
  margin-right: 40px;
  width: 460px;
  height: 307px;
  /* border: 1px solid #161513; */
  border-radius: 20px;
  object-fit: cover;
}

.portfolio-list-item-title {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  min-width: 517px;
  color: #161513;
  font-size: 45px;
  font-weight: 400;
  line-height: 56px; /* 124.444% */
  letter-spacing: 1.44px;
}
.portfolio-list-item-descr {
  margin: 0;
  padding: 0;
  color: #161513;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
  color: #e94d35;
}

.portfolio-items-stack {
  flex-direction: column;
  justify-content: center;
}

/*! FOOTER */
/* 
.footer {
  margin: 0;
  height: 120px;
  background-color: #161513;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}  */

.footer-style {
  height: 120px;
  background-color: #161513;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-text {
  margin: 0;
  padding: 0;
  color: #fff;
}

.footer-social-icons {
  align-items: center; 
  justify-content: center;
}

.fa-brands {
  font-size: 30px;
  margin-right: 30px;
  margin-bottom: 40px;
  color: #fff;
}

